* {
  /* outline: 1px solid red; */
}
/* ----------style guide---------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* ----------color style---------- */
.cw {
  color: #ffffff;
}

/* ----------media query---------- */
@media (min-width: 769px) {
  html {
    font-size: 20px;
  }

  .marquee-roll {
    padding-top: 40%;
  }

  .god {
    width: 250px;
    top: 8%;
    right: 20%;
  }

  .about-slogan {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  /* hero sec */
  .marquee-roll {
    padding-top: 20%;
  }

  .marquee-main-lg {
    font-size: 12vw;
  }

  .the-wall {
    width: 250px;
    top: 8%;
    left: 8%;
  }

  .god {
    width: 250px;
    top: 8%;
    right: 20%;
  }

  .taipei {
    width: 300px;
    bottom: 5%;
    right: 3%;
  }

  .scroll-down {
    padding: 30px;
  }

  .eyes {
    height: 40px;
  }

  /* act sec */
  .section-title-l {
    font-size: 1.7rem;
  }

  .section-title-s {
    font-size: 1rem;
  }

  .card {
    margin-bottom: 3rem;
  }

  .see-more {
    padding: 40px 60px;
  }

  /* about sec */
  .blue-marquee {
    font-size: 8vw;
  }

  .yellow-marquee {
    font-size: 8vw;
  }

  .bubble {
    top: calc(50% - 250px);
    left: calc(50% - 250px);
  }

  .brand-intro {
    position: absolute;
    top: calc(50% - 211px);
    left: 45%;
    z-index: 1;
  }

  .about-slogan {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  /* blog sec */
  .blog .section-title {
    font-size: 8rem;
  }

  .tiger {
    top: -19%;
  }

  .post-tape {
    top: -10%;
  }

  .blog .inner-box {
    height: 80%;
  }

  .article-title {
    font-size: 1rem;
  }

  .article-subtitle {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  /* b2b sec */
  .be-partner {
    top: 15%;
  }

  /* fixed button */
  .fixed-button {
    width: 150px;
  }

  .text {
    width: 140px;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
  }
}

@media (min-width: 1200px) {
  .add-pt {
    padding-top: 5%;
  }

  .about-slogan {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  /* hero sec */
  .marquee-roll {
    padding-top: 80%;
  }

  .marquee-main-lg {
    font-size: 20vw;
  }

  .the-wall {
    width: 120px;
    top: 3%;
    left: 8%;
  }

  .god {
    width: 150px;
    top: 15%;
    right: 8%;
  }

  .taipei {
    width: 180px;
    bottom: 2%;
    right: 10%;
  }

  .scroll-down {
    padding: 1rem;
  }

  .eyes {
    height: 30px;
  }

  /* act sec */
  .section-title-l {
    font-size: 2rem;
  }

  .section-title-s {
    font-size: 1.5rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .ticket-punches {
    display: none;
  }

  .see-more {
    padding: 20px 30px;
  }

  /* about sec */
  .blue-marquee {
    font-size: 20vw;
  }

  .yellow-marquee {
    font-size: 20vw;
  }

  .intro-bg {
    padding-top: 50%;
  }

  .bubble {
    top: calc(50% - 30%);
    left: calc(50% - 30%);
  }

  .bubble img {
    width: 70%;
  }

  .brand-intro {
    background-color: #ed5b4c;
    border: 3px solid #000;
    padding: 30px 10px;
  }

  .about-slogan {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  /* blog sec */
  .blog .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;
    letter-spacing: 2.55px;
  }

  .tiger {
    width: 30%;
    top: -2%;
    left: 0;
  }

  .post-tape {
    top: -8%;
  }

  .article-layout {
    margin-bottom: 5rem;
  }

  .blog .inner-box {
    height: 50%;
  }

  .article-title {
    font-size: 1.7rem;
  }

  .article-subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* b2b sec */
  .section-title img {
    width: 50%;
  }

  .be-partner {
    top: 0;
  }

  .sign2 {
    width: 50%;
  }

  /* fixed button */
  .fixed-button {
    width: 100px;
  }

  .text {
    width: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }
}

/* ----------hero section area---------- */
.hero-section {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

.marquee-main-lg {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  overflow: hidden;
  color: #ffffff;
  transform: rotate(-7deg);
  background: url(../imgs/index/ic-tape-kv.svg) center no-repeat;
}

.marquee-main-sm {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  margin: 1rem 0;
  font-size: 1vw;
  overflow: hidden;
  color: #8f8f8f;
  transform: rotate(-7deg);
}

.brand {
  margin-right: 5rem;
}

.the-wall {
  transition-duration: 0.5s;
}

.the-wall:hover {
  transform: rotate(-45deg);
}

.god {
  transition-duration: 0.5s;
  transform: rotate(-15deg);
}

.god:hover {
  transform: rotate(45deg);
}

.taipei {
  transition-duration: 0.5s;
}

.taipei:hover {
  transform: rotate(60deg);
}

.space {
  height: 12%;
}

.scroll-down {
  margin: auto;
  background-color: #ffc024;
}

.scroll-down span {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
}

.arrow {
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(10px);
  }
}

/* ----------main act area---------- */
.grid-blue {
  background: #168fa4;
  background-image: linear-gradient(rgba(8, 46, 123, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(8, 46, 123, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
}

.mainact-1 {
  overflow: hidden;
}

.img-800 {
  height: 700px;
}

.m-100 {
  margin: 5rem 0;
}

.w-85 {
  width: 85%;
}

.card {
  background: transparent;
  transform: translateY(0);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
  transform: translateY(-20px);
}

.event-intro {
  opacity: 0;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 20%;
  color: #fff;
  letter-spacing: 2.55px;
  line-height: 1.5rem;
  background-color: rgb(0, 0, 0, 0.7);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .event-intro{
  opacity: 1;
}


.card-top {
  background-color: #fac000;
  border: 3px solid black;
}

.circle {
  width: 1rem;
  height: 1rem;
  border: 3px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}

.cat-label-music {
  background-color: #002c80;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.4rem;
  margin: 1.4rem 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  color: #fff;
  letter-spacing: 2.55px;
  font-weight: bold;
}

.cat-label-music:before {
  content: "音樂";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-music:hover:before {
  top: -30px;
}

.cat-label-music:after {
  content: "去逛逛";
  position: absolute;
  top: calc(100% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-music:hover:after {
  top: 50%;
}

.cat-label-ex {
  background-color: #002c80;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.4rem;
  margin: 1.4rem 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  color: #fff;
  letter-spacing: 2.55px;
  font-weight: bold;
}

.cat-label-ex:before {
  content: "展覽";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-ex:hover:before {
  top: -30px;
}

.cat-label-ex:after {
  content: "去逛逛";
  position: absolute;
  top: calc(100% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-ex:hover:after {
  top: 50%;
}

.cat-label-th {
  background-color: #002c80;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.4rem;
  margin: 1.4rem 0;
  overflow: hidden;
  transform: translate(0%, 0%);
  color: #fff;
  letter-spacing: 2.55px;
  font-weight: bold;
}

.cat-label-th:before {
  content: "戲劇";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-th:hover:before {
  top: -30px;
}

.cat-label-th:after {
  content: "去逛逛";
  position: absolute;
  top: calc(100% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.cat-label-th:hover:after {
  top: 50%;
}

.pickup-1 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-02.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.pickup-2 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-03.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.pickup-3 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-04.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.img-480 {
  padding-top: 100%; /* 1:1 aspect ration*/
}

.card-bottom {
  background-color: #fac000;
  border: 3px solid black;
}

.section-title-l {
  letter-spacing: 2.55px;
  font-weight: bold;
}

.section-title-s {
  color: #000000;
  letter-spacing: 2.55px;
  font-weight: bold;
}

.hashtag {
  cursor: pointer;
  color: #002c80;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

.ticket-punches {
  position: absolute;
  width: 90%;
  bottom: -20px;
  left: 8%;
}

.like {
  cursor: pointer;
}

.like.liked {
  color: #ed5b4c;
  font-weight: 900;
}

.punch {
  background: #168fa4;
  border: 3px solid black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.see-more {
  letter-spacing: 2.55px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  background: url(../imgs/index/ic-tape.svg) center no-repeat;
}

a:hover {
  text-decoration: none;
}

.see-more:hover {
  color: #000;
}

.rubberBand {
  margin: 0 0.5rem;
  animation: rubberBand;
  animation-duration: 0.8s;
}

/* ----------about area---------- */
.marquee-box {
  max-width: 1920px;
  background-color: #002c80;
  overflow: hidden;
}

.bubble {
  z-index: 100;
}

.blue-marquee {
  font-weight: 800;
  color: #168fa4;
}

.yellow-marquee {
  font-weight: 800;
  color: #ffc024;
}

.intro-bg {
  border: 3px solid #000;
  background-color: #ed5b4c;
  padding-top: 100%;
}

.brand-intro {
  z-index: 1;
}

.paper {
  display: inline-block;
  background-color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  padding: 12px 40px 12px 15px;
}

/* ----------blog area---------- */
.grid-white {
  background: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
}

.blog .section-title {
  color: #000;
  margin-top: 10%;
  font-weight: 800;
}

.post-tape {
  width: 50%;
  left: calc(50% - 25%);
}

.article-img {
  margin-top: 10%;
  height: 380px;
  background-size: 100%;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
}

.img-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.article-img:hover {
  background-size: 130%;
}

.cover-1 {
  background: url(../imgs/index/blog-01.jpg) center no-repeat;
}

.cover-2 {
  background: url(../imgs/index/blog-02.jpg) center no-repeat;
}

.cover-3 {
  background: url(../imgs/index/blog-03.jpg) center no-repeat;
}

.cover-4 {
  background: url(../imgs/index/blog-04.jpg) center no-repeat;
}

.cover-5 {
  background: url(../imgs/index/blog-05.jpg) center no-repeat;
}

.blog .inner-box {
  margin: calc(25% - 15%) auto;
  width: 80%;
  height: 80%;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 2px solid rgb(255, 255, 255);
}

.article-title {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  letter-spacing: 2.55px;
  flex: 1;
  margin: 5%;
}

.article-subtitle {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 2.55px;
  flex: 3;
  margin: 5%;
}

.graffiti {
  background: url(../imgs/index/blog-deco-02.png) no-repeat;
}

.binding-ring {
  background: url(../imgs/index/blog-deco-01.svg) no-repeat;
}

.tiger {
  transform: rotate(20deg);
  transition-duration: 0.5s;
}

.tiger:hover {
  transform: rotate(50deg);
}

/* ----------b2b area---------- */
.b2b {
  background-color: #ffc024;
  border: 3px solid #000;
  overflow: hidden;
}

.purple-marquee {
  height: 100%;
  background: url(../imgs/index/b2b-scrollText.svg) no-repeat;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

.content {
  flex-direction: column;
}

strong {
  font-weight: bold;
}

.b2b .section-title {
  margin-top: 10%;
}

.para-title {
  font-size: 1.7rem;
  margin: 10% 2% 3%;
}

.para {
  line-height: 35px;
  margin: 5% 2% 15%;
}

.sign1 {
  animation: fadeIn 0.7s infinite;
  -webkit-animation: fadeIn 0.7s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------fixed button---------- */
.fixed-button {
  opacity: 0;
  bottom: 10%;
  right: 3%;
  z-index: 100;
  cursor: pointer;
  transition-duration: 0.3s;
}

.spin {
  animation: spin 1.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
