* {
  /* outline: 1px solid red; */
}
/* ----------style guide---------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* ----------font style---------- */
.section-title-l {
  letter-spacing: 2.55px;
  font-size: 1.7rem;
  font-weight: bold;
}

.section-title-s {
  letter-spacing: 2.55px;
  font-size: 1rem;
  font-weight: bold;
}

/* ----------color style---------- */
.cw {
  color: #ffffff;
}

/* ----------media query---------- */
@media (min-width: 769px) {
  html {
    font-size: 20px;
  }

  .marquee-roll {
    padding-top: 40%;
  }

  .about-slogan {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  /* hero sec */
  .marquee-roll {
    padding-top: 20%;
  }

  .marquee-main-lg {
    font-size: 12vw;
  }

  .the-wall {
    width: 250px;
    top: 8%;
    left: 8%;
  }

  .god {
    width: 250px;
    top: 8%;
    right: 20%;
  }

  .taipei {
    width: 300px;
    bottom: 5%;
    right: 3%;
  }

  .scroll-down {
    padding: 30px;
  }

  .eyes {
    height: 40px;
  }
  /* act sec */

  .card {
    margin-bottom: 3rem;
  }

  .about-slogan {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .add-pt {
    padding-top: 5%;
  }

  .about-slogan {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  /* hero sec */

  .marquee-roll {
    padding-top: 80%;
  }

  .marquee-main-lg {
    font-size: 20vw;
  }

  .the-wall {
    width: 120px;
    top: 3%;
    left: 8%;
  }

  .god {
    width: 150px;
    top: 15%;
    right: 8%;
  }

  .taipei {
    width: 180px;
    bottom: 2%;
    right: 10%;
  }

  .scroll-down {
    padding: 1rem;
  }

  .eyes {
    height: 30px;
  }

  /* act sec */
  .card {
    margin-bottom: 2rem;
  }

  .ticket-punches {
    display: none;
  }

  .intro-bg {
    padding-top: 50%;
  }

  .bubble {
    width: 50%;
  }

  .about-slogan {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .sub-slogan {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

/* ----------hero section area---------- */
.hero-section {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

.marquee-main-lg {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  overflow: hidden;
  color: #ffffff;
  transform: rotate(-7deg);
  background: url(../imgs/index/ic-tape-kv.svg) center no-repeat;
}

.marquee-main-sm {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  margin: 1rem 0;
  font-size: 1vw;
  overflow: hidden;
  color: #8f8f8f;
  transform: rotate(-7deg);
}

.brand {
  margin-right: 5rem;
}

.the-wall {
  transition-duration: 0.5s;
}

.the-wall:hover {
  transform: rotate(-45deg);
}

.god {
  transition-duration: 0.5s;
  transform: rotate(-15deg);
}

.god:hover {
  transform: rotate(45deg);
}

.taipei {
  transition-duration: 0.5s;
}

.taipei:hover {
  transform: rotate(60deg);
}

.space {
  height: 12%;
}

.scroll-down {
  margin: auto;
  background-color: #ffc024;
}

.scroll-down span {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
}

.arrow {
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(10px);
  }
}

/* ----------main act area---------- */
.grid-blue {
  background: #168fa4;
  background-image: linear-gradient(rgba(8, 46, 123, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(8, 46, 123, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
}

.mainact-1 {
  overflow: hidden;
  background-image: url(../imgs/index/mainact-01.jpg);
  background-size: cover;
}

.img-800 {
  height: 700px;
}

.m-100 {
  margin: 5rem 0;
}

.w-85 {
  width: 85%;
}

.card {
  background: transparent;
}
.card-top {
  background-color: #fac000;
  border: 3px solid black;
}

.circle {
  width: 1rem;
  height: 1rem;
  border: 3px solid black;
  border-radius: 50%;
  background-color: #ffffff;
  /* margin: 0 1rem; */
}

.cat-label {
  background-color: #002c80;
  border: 3px solid black;
  padding: 1.4rem;
  margin: 1.4rem 0;
}

.pickup-1 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-02.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.pickup-2 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-03.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.pickup-3 {
  border: 3px solid black;
  border-radius: 0;
  background: url(../imgs/index/mainact-04.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.img-480 {
  padding-top: 100%; /* 1:1 aspect ration*/
}

.card-bottom {
  background-color: #fac000;
  border: 3px solid black;
  /* border-bottom: 0.5rem dotted #168fa4; */
}

.hashtag {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

.ticket-punches {
  position: absolute;
  width: 90%;
  bottom: -20px;
  left: 8%;
}

.punch {
  background: #168fa4;
  border: 3px solid black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.see-more {
  letter-spacing: 2.55px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  padding: 40px 60px;
  background: url(../imgs/index/ic-tape.svg) center no-repeat;
}

a:hover {
  text-decoration: none;
}

.see-more:hover {
  color: #000;
}

.rubberBand {
  margin: 0 0.5rem;
  animation: rubberBand;
  animation-duration: 0.8s;
}

/* ----------about area---------- */
.marquee-box {
  max-width: 1920px;
  background-color: #002c80;
  overflow: hidden;
}

.bubble {
  z-index: 100;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
}

.blue-marquee {
  font-size: 8vw;
  font-weight: 800;
  color: #168fa4;
}

.yellow-marquee {
  font-size: 8vw;
  font-weight: 800;
  color: #ffc024;
}

.intro-bg {
  border: 3px solid #000;
  background-color: #ed5b4c;
  padding-top: 100%;
}

.brand-intro {
  top: calc(50% - 211px);
  left: 45%;
  z-index: 1;
}

.paper {
  display: inline-block;
  background-color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  padding: 12px 40px 12px 15px;
}

/* ----------blog area---------- */
.grid-white {
  background: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
}

.blog .section-title {
  color: #000;
  margin-top: 10%;
  font-size: 8rem;
  font-weight: 800;
}

.post-tape {
  width: 50%;
  top: -10%;
  left: calc(50% - 25%);
}

.article-img {
  margin-top: 10%;
  height: 380px;
  background: url(../imgs/index/blog-01.jpg) center no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
}

.article-img:hover {
  background-size: 130%;
}

.blog .inner-box {
  margin: auto;
  width: 80%;
  height: 80%;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 2px solid rgb(255, 255, 255);
}

.article-title {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2.55px;
  flex: 1;
  margin: 5%;
}

.article-subtitle {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 2.55px;
  flex: 3;
  margin: 5%;
}

.graffiti {
  background: url(../imgs/index/blog-deco-02.png) no-repeat;
}

.binding-ring {
  background: url(../imgs/index/blog-deco-01.svg) no-repeat;
}

.tiger {
  top: -19%;
  transform: rotate(20deg);
  transition-duration: 0.5s;
}

.tiger:hover {
  transform: rotate(50deg);
}

/* ----------b2b area---------- */
.b2b {
  background-color: #ffc024;
  border: 3px solid #000;
  overflow: hidden;
}

.purple-marquee {
  height: 100%;
  background: url(../imgs/index/b2b-scrollText.svg) no-repeat;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

.content {
  flex-direction: column;
}

strong {
  font-weight: bold;
}

.b2b .section-title {
  margin-top: 10%;
}

.para-title {
  font-size: 1.7rem;
  margin: 10% 2% 3%;
}

.para {
  line-height: 35px;
  margin: 5% 2% 15%;
}

.be-partner {
  top: 15%;
}

.sign1 {
  animation: fadeIn 0.7s infinite;
  -webkit-animation: fadeIn 0.7s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------fixed button---------- */
.fixed-button {
  opacity: 0;
  bottom: 10%;
  right: 3%;
  width: 150px;
  z-index: 100;
  cursor: pointer;
  transition-duration: 0.3s;
}

.text {
  width: 140px;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
}

.spin {
  animation: spin 1.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
