/* * {
  outline: 1px solid red;
} */

html {
  font-size: 20px;
}

body {
  height: 100vh;
  background-color: #002c80;
}

.login-popup {
  margin: 2.5rem auto;
  background: #fff;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  position: relative;
  padding-top: 4rem;
  margin-top: 10rem;
}

.g-clip {
  position: absolute;
  top: -40px;
  width: 80px;
}

.x-btn {
  width: 1rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.login-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2.3rem;
}

.reminder {
  color: #f26969;
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.icons {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.8rem;
}

p {
  padding-top: 0.6rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.login-item {
  font-size: 1rem;
  margin: 0.25rem;
}

.form-control {
  font-size: 0.7rem;
  height: 2.5rem;
  border: 3px solid #000;
  border-radius: 0;
}

.btn {
  background-color: #ffc639;
  color: #000;
  margin: auto 0;
  border: 3px solid #000;
  border-radius: 0px;
  font-weight: 600;
  height: 2.5rem;
}

.help {
  font-size: 0.7rem;
}

/* forgotpw-modal css */

.modal-content {
  background: #fff;
  background-image: linear-gradient(rgba(255, 0, 0, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 0, 0, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  position: relative;
  padding-top: 2.5rem;
  border-radius: 0px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-title {
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.q-mark {
  width: 2rem;
}

.command-text {
  color: #000;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
}

.modal-footer {
  border-top: 0 none;
}

/* Media Query */
/* ============================= */
/* Extra small 超小 (576px 以下) */

@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }

  body {
    background: #fff;
    background-image: linear-gradient(
        rgba(22, 143, 164, 0.15) 1px,
        transparent 0
      ),
      linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
    background-size: 0.75rem 0.75rem;
  }

  .login-popup {
    margin: 5rem auto;
  }

  .g-clip {
    display: none;
  }

  .x-btn {
    display: none;
  }
}

/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width: 768px) {
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
}

/* ============================= */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {
}

/* 768-992之間的畫面 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {
}

/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
