/* * {
  outline: 1px solid red;
} */

html {
  font-size: 20px;
}

body {
  height: 100vh;
  background-color: #002c80;
}

.signup-list {
  margin-top: 16rem;
  background: #fff;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  margin-bottom: 10rem;
  position: relative;
}

.long-clip {
  position: absolute;
  width: 10rem;
  top: -6rem;
  left: -1rem;
  transform: rotate(33deg);
}

.tape img {
  width: 22rem;
  position: absolute;
  transform: rotate(15deg);
  top: -4rem;
  right: -1.2rem;
}

.list-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-family: NotoSansTC-Regular, Roboto;
  letter-spacing: 2px;
  line-height: 1.8rem;
  margin-top: 7rem;
}

.signup-form {
  margin-top: 40px;
}

.r-pin {
  width: 2rem;
  /* height: 40px; */
  transform: rotate(310deg);
  margin-right: 8px;
}

label {
  font-size: 0.9rem;
  font-family: NotoSansTC-Regular;
  padding: 0.6rem;
  margin-left: 3rem;
}

.form-control {
  height: 3.125rem;
  border-radius: 0;
  border: 3px solid #000;
  font-family: NotoSansTC-Regular, Roboto;
  font-size: 0.8rem;
}

.terms-title {
  text-align: center;
  margin: 2rem 0 1.875rem;
  font-family: NotoSansTC-Regular, Roboto;
  font-size: 1.2rem;
  font-weight: 600;
}

.eyes {
  width: 2.2rem;
  /* height: 45px; */
  margin-left: 0.625rem;
}

.terms {
  background-color: #fff;
  border: 3px solid #000;
  width: 100%;
  height: 15rem;
  overflow: auto;
  font-family: NotoSansTC-Regular, Roboto;
}

.service-text {
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid #ccc;
  line-height: 23px;
  font-size: 0.875rem;
  margin: 0 15px;
}

.privacy-text {
  line-height: 23px;
  margin-bottom: 1.875rem;
  font-size: 0.875rem;
  margin: 12px 15px;
}

.form-check-label {
  font-family: NotoSansTC-Regular, Roboto;
  font-size: 1rem;
  margin-left: 0px;
}

.form-check-input {
  width: 0.9375rem;
  height: 0.9375rem;
}

.signup-btn {
  height: 50px;
}

.btn {
  background-color: #ffc639;
  color: #000;
  margin: auto 0;
  border: 3px solid #000;
  border-radius: 0px;
  font-weight: 600;
  height: 2.5rem;
}

.line {
  border-top: 3px solid #aaa;
  margin-top: 2rem;
  padding-top: 1rem;
}

/* signup success modal css*/

.modal-header {
  border-bottom: 0 none;
}

.modal-content {
  border-radius: 0px;
  width: 300px;
  height: 500px;
  background-color: #ffc024;
}

.welcome-text {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
}

.modal-footer {
  border-top: 0 none;
}

.tap img {
  width: 180px;
  top: -50px;
  left: -45px;
  position: absolute;
}

.modal-title {
  font-weight: 600;
}

.check-circle-solid {
  width: 50px;
}

.house {
  width: 250px;
  margin: 10px auto;
}

.close {
  background-color: #ff0000;
}

/* Media Query */
/* ============================= */
/* Extra small 超小 (576px 以下) */

@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }

  body {
    background: #fff;
    background-image: linear-gradient(
        rgba(22, 143, 164, 0.15) 1px,
        transparent 0
      ),
      linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
    background-size: 0.75rem 0.75rem;
  }

  .signup-list {
    margin-top: 10rem;
  }

  .long-clip {
    display: none;
  }

  .tape img {
    position: static;
    width: 18rem;
    transform: rotate(7deg);
    margin-left: 3.5rem;
  }

  .list-title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    margin: 2.5rem 1rem 0;
  }

  .r-pin {
    width: 1rem;
  }

  label {
    margin-left: 2rem;
  }

  .terms-title {
    margin: 2rem 0.5rem 1.875rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .form-check-label {
    font-size: 0.8125rem;
    margin-left: 0px;
  }

  .form-check-input {
    width: 0.75rem;
    height: 0.75rem;
  }

  .confirm {
    font-size: 0.8125rem;
  }
  .login-btn {
    font-size: 0.8125rem;
  }

  .modal-title {
    font-size: 1.3rem;
  }

  .tap img {
    width: 130px;
    top: -35px;
    left: -30px;
  }

  .house {
    width: 250px;
    margin: 10px auto;
    padding-top: 20px;
  }

  .welcome-text {
    font-size: 1.2rem;
  }
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {
}

/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width: 768px) {
}

@media (max-width: 768px) {
}

/* ============================= */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {
}

/* 768-992之間的畫面 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {
}

/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
