/* * {
  outline: 1px solid red;
} */

.login-popup {
  width: 570px;
  height: 800px;
  margin: 50px auto;
  background: #fff;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  position: relative;
  padding-top: 100px;
}

.g-clip {
  position: absolute;
  top: -40px;
  width: 80px;
}

.x-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.reminder {
  color: #f26969;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 40px;
}

.icons {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}

p {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 40px;
}

.login-item {
  margin: 5px;
}

.form-control {
  font-size: 14px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 0;
}

.form-text {
  right: 15px;
  font-size: 14px;
}

.btn {
  background-color: #ffc639;
  color: #000;
  margin: auto 0;
  border: 3px solid #000;
  border-radius: 0px;
  font-weight: 600;
}

.help {
  font-size: 14px;
}
