/* * {
  outline: 1px solid red;
} */

html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #002c80;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  /* overflow: hidden; */
  position: relative;
}

/* 變形怪 css */

.c {
  width: 30vh;
  height: 30vh;
  position: absolute;
  bottom: -16.6666666667vh;
  left: 0;
  border-radius: 43% 40% 43% 40%;
  background: #d64e42;
  -webkit-animation: bounce 1s infinite alternate, wave 2s infinite linear,
    waking 7s infinite alternate linear;
  animation: bounce 1s infinite alternate, wave 2s infinite linear,
    waking 7s infinite alternate linear;
}

.c-e {
  width: 5vh;
  height: 5vh;
  border: 1.3043478261vh solid #fff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-radius: 50%;
  -webkit-animation: blink 4s infinite linear;
  animation: blink 4s infinite linear;
}

.c-c {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 24vh;
  bottom: 3vh;
  z-index: 1;
  left: 7.5vh;
  padding: 0 0.8vw;
  z-index: 1;
  -webkit-animation: waking 7s infinite alternate linear;
  animation: waking 7s infinite alternate linear;
}

@-webkit-keyframes wave {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wave {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes waking {
  100% {
    left: calc(100% - 30vh);
  }
}

@keyframes waking {
  100% {
    left: calc(100% - 30vh);
  }
}

@-webkit-keyframes bounce {
  100% {
    bottom: -20vh;
  }
}

@keyframes bounce {
  100% {
    bottom: -20vh;
  }
}

@-webkit-keyframes blink {
  0%,
  5%,
  30%,
  37%,
  100% {
    height: 5vh;
    border-width: 1.3636363636vh;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  3%,
  33% {
    height: 0;
    border-width: 0;
    -webkit-transform: translateY(-3vh);
    transform: translateY(-3vh);
  }
}

@keyframes blink {
  0%,
  5%,
  30%,
  37%,
  100% {
    height: 5vh;
    border-width: 1.3636363636vh;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  3%,
  33% {
    height: 0;
    border-width: 0;
    -webkit-transform: translateY(-3vh);
    transform: translateY(-3vh);
  }
}

/* 登入表單css 開始 */

.login-popup {
  margin: 2.5rem auto;
  background: #fff;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  position: relative;
  padding-top: 4rem;
  margin-top: 8rem;
  margin-bottom: 6rem;
  z-index: 5;
}

.g-clip {
  position: absolute;
  top: -40px;
  width: 80px;
}

.login-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2.3rem;
}

.reminder {
  color: #f26969;
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.icons {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.8rem;
}

.icons p {
  padding-top: 1rem;
  font-weight: 600;
}

.form-group {
  margin-bottom: 0.8rem;
}

label p {
  font-weight: 700;
}

.alert-danger {
  color: rgb(216, 44, 44);
  font-weight: 600;
  border: 3px solid rgb(36, 24, 146);
  background-color: rgb(243, 216, 61);
}

/* .input-wrap {
  position: relative;
}

.input-wrap.success input {
  border-color: #168fa4;
}

.input-wrap.error input {
  border-color: #ff0000;
}

.input-wrap i {
  position: absolute;
  right: 20px;
  top: 18px;
  visibility: hidden;
}

.input-wrap.success i.fa-check-circle {
  visibility: visible;
  color: #168fa4;
}

.input-wrap.error i.fa-exclamation-circle {
  visibility: visible;
  color: #ff0000;
}

.form-text {
  display: block;
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 65px;
  font-size: 0.7rem;
}

.input-wrap.error small {
  visibility: visible;
  color: #ff0000;
} */

.login-item {
  font-size: 1rem;
  margin: 0.25rem;
}

.form-control {
  font-size: 0.7rem;
  height: 2.5rem;
  border: 3px solid #000;
  border-radius: 0;
}
.btn-primary:focus {
  background-color: #168fa4;
  border-color: #000;
  color: #fff;
}

.btn {
  background-color: #ffc639;
  color: #000;
  margin: auto 0;
  border: 3px solid #000;
  border-radius: 0px;
  font-weight: 600;
  height: 2.5rem;
}

.btn:hover {
  background-color: #ff4e42;
  border-color: transparent;
  color: #fff;
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.help {
  font-size: 0.7rem;
}

/* forgotpw-modal css */

.modal-header {
  border-bottom: 0 none;
}

.modal-content {
  background: #fff;
  background-image: linear-gradient(rgba(255, 0, 0, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 0, 0, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  position: relative;
  padding-top: 2.5rem;
  border-radius: 0px;
}

.modal-title {
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.q-mark {
  width: 2rem;
}

.command-text {
  color: #000;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
}

.modal-footer {
  border-top: 0 none;
}

/* sendModal css */
.letter {
  width: 8rem;
}

.modal-body {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

/* Media Query */
/* ============================= */
/* Extra small 超小 (576px 以下) */

@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }

  body {
    background: #fff;
    background-image: linear-gradient(
        rgba(22, 143, 164, 0.15) 1px,
        transparent 0
      ),
      linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
    background-size: 0.75rem 0.75rem;
  }

  .monster {
    display: none;
  }

  .login-popup {
    margin: 5rem auto;
  }

  .g-clip {
    display: none;
  }
}

/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width: 768px) {
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
}

/* ============================= */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {
}

/* 768-992之間的畫面 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {
}

/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
