* {
  outline: 1px solid red;
}
/* ----------style guide---------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #002c80;
}

/* ----------media query---------- */
@media (min-width: 769px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .space {
    height: 10rem;
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* ----------order status---------- */
.btn-s{
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 0%;
    width: 25%;
    padding: 2% 0;
}

.btn-select{
    background-color: #FFC024;
    border: 3px solid #000;
}

.order{
    border: 3px solid #000;
    background-color: #fff;
}

.event-img{
    background: url(../imgs/member/order-event-img-01.jpg) center no-repeat;
}

.main-info{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2.55px;
}

.ticket{
  align-items: center;
}

.edit{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.edit button{
    width: 48px;
    height: 48px;
    margin: 0.5rem 0;
    border: none;
}

.delete{
    background: url(../imgs/member/cancel.svg) center no-repeat;
}

.feedback{
    background: url(../imgs/member/feedback.svg) center no-repeat;
}

.qr-code {

}

/* ----------pagination---------- */

.page-link {
    background-color: transparent;
    color: #fff;
    border: none;
}

.page-link:hover {
    background-color: #fff;
    border: 3px solid black;

}

.page-item.active .page-link {
    background-color: #FFC024;
    color: #000;
    border: 3px solid black;
}

.page-item.disabled .page-link {
    background-color: transparent;
}

.page-link:focus {
    box-shadow: none;
}