* {
  /* outline: 1px solid red; */
}
/* ----------style guide---------- */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #002c80;
}

body.modal-open {
  padding-right: 0 !important;
}

/* ----------media query---------- */
@media (min-width: 769px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .space {
    height: 10rem;
  }

  .edit {
    flex-direction: column;
  }

  .edit button {
    margin: 0.5rem 0;
  }

  .ticket {
    align-items: center;
    margin-bottom: 1rem;
  }

  .close{
    right: -30%;
    top: -20%;
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .space {
    height: 8rem;
  }

  .section-title img {
    width: 20vh;
  }



  .edit {
    flex-direction: row;
  }

  .edit button {
    margin: 0.5rem 1.5rem;
  }

  .ticket {
    align-items: center;
    margin-bottom: 3rem;
  }

  .sm-none {
    display: none;
  }

  .close{
    right: -12%;
    top: -10%;
  }
}

/* ----------order status---------- */
.btn-s {
  border: 3px solid #000;
  background-color: #fff;
  border-radius: 0%;
  width: 25%;
  padding: 2% 0;
}

.btn-select {
  background-color: #ffc024;
  border: 3px solid #000;
}

.order {
  border: 3px solid #000;
  background-color: #fff;
}

.main-info {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2.55px;
}

.edit {
  text-align: center;
  display: flex;
}

.edit button {
  width: 48px;
  height: 48px;
  border: none;
}

.delete {
  background: url(../imgs/member/cancel.svg) center no-repeat;
}

.feedback {
  background: url(../imgs/member/feedback.svg) center no-repeat;
}

.button:focus {
  outline: none;
}

.qr-code-lg {
  background-color: transparent;
}

/* ----------pagination---------- */
.pagination {
  text-align: center;
}

.page-link {
  background-color: transparent;
  color: #fff;
  border: none;
}

.page-link:hover {
  background-color: #fff;
  border: 3px solid black;
}

.page-item.active .page-link {
  background-color: #ffc024;
  color: #000;
  border: 3px solid black;
}

.page-item.disabled .page-link {
  background-color: transparent;
}

.page-link:focus {
  box-shadow: none;
}

/* ----------modal---------- */
.modal-dialog {
  top: 20vh;
}
.modal-content {
  border: 3px solid #000;
  border-radius: 0%;
}

.g-clip {
  top: -8%;
}

.g-clip img {
  width: 70%;
}
.modal-header {
  border: none;
}

.modal-title {
  margin: 5% auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5rem;
}

.modal-footer {
  flex-direction: column;
  border: none;
}

.modal-footer .btn {
  border: 3px solid #000;
  border-radius: 0;
  letter-spacing: 1.5px;
  width: 50%;
  margin: 10px 0;
}

.modal-footer .cancel-btn {
  background-color: #ff4e42;
  color: #fff;
}

.order-his-btn {
  background-color: #168fa4;
  color: #fff;
}

.qr-code-lg {
  border: none;
}

.attender{
  background-color: #FFC024;
  padding: 10px;
  margin: 0;
}

.ticket-sid{
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 0;
}