/* * {
  outline: 1px solid red;
} */
button:focus {
  box-shadow: none !important;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

.background {
  width: 100%;
  height: 750px;
  background: url(../imgs/b2b/b2b_background.jpg) center no-repeat;
  background-size: cover;
}

.index {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.ogzcard {
  margin-top: 170px;
}

.ogzcard a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #168fa4;
}

.indexcard {
  margin-top: 170px;
  width: 260px;
  height: 400px;
  /* background-color: #168fa4; */
  position: relative;
  transition: 0.3s;
}

.indexcard:hover {
  transform: translateY(-10px);
}

.bgcard:hover {
  box-shadow: 10px 10px #8b6400;
}

.titlecard {
  position: absolute;
  width: 185px;
  height: 79px;
  top: 15px;
  right: 40px;
}

.bgcard {
  margin-top: 50px;
  width: 260px;
  height: 375px;
  background-color: #168fa4;
  border: 3px solid #000;
  transition: 0.3s;
}

.notebook {
  width: 178px;
  height: 167px;
  margin-top: 60px;
  margin-left: 50px;
}

.eventsvg {
  margin-top: 80px;
  margin-left: 40px;
}

.ticketsvg {
  margin-top: 58px;
  margin-left: 30px;
}

.cardtext {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.eventcardtext {
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.modbutton {
  width: 100%;
}

.modify {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  background-color: #ffc024;
  border: 3px solid #000;
  border-radius: 0;
  padding: 0;
}

.picture {
  margin: 90px auto 0;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: url(../imgs/B2B_imgs/b2b-3.jpg);
  background-size: contain;
  /* background-color: #f1f9ff; */
  border: 3px solid #000;
}

.people {
  margin-top: 40px;
  margin-left: 40px;
}

.organizer {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.btn {
  color: #000;
}

.slogan p {
  margin-left: 48%;
  font-weight: 700;
  font-size: 34px;
}

.event {
  color: #ed5b4c;
}

.slogan {
  margin-top: 80px;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
  margin-left: 10px;
}

.wisteria {
  color: #168fa4;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.word {
  animation-iteration-count: infinite;
  animation-name: anim;
  animation-duration: 7.5s; /*calculate the exact time for looping*/
}

.word:nth-child(2) {
  animation-delay: 1.5s;
}

.word:nth-child(3) {
  animation-delay: 3s;
}

.word:nth-child(4) {
  animation-delay: 4.5s;
}

.word:nth-child(5) {
  animation-delay: 6s;
}

@keyframes anim {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  6.66% {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  20% {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  46.66% {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  /*we give long pause after animation is done by this method*/
  100% {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

/* Media Query */
/* ============================= */
/* Extra small 超小 (576px 以下) */

@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }

  .background {
    width: 100%;
    height: 1050px;
    background: url(../imgs/b2b/b2b_background.jpg) center no-repeat;
    background-size: cover;
  }

  .index {
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: space-between; */
  }

  .ogzcard {
    margin: 150px auto 0;
  }

  .picture {
    margin-top: 0;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #f1f9ff;
    border: 3px solid #000;
  }

  .people {
    margin-top: 40px;
    margin-left: 40px;
  }

  .indexcard {
    margin-top: 20px;
    width: 170px;
    height: 225px;
    /* background-color: #168fa4; */
    position: relative;
  }

  .titlecard {
    position: absolute;
    width: 108px;
    height: 50px;
    top: 30px;
    right: 30px;
  }

  .notebook {
    width: 100px;
    height: 86px;
    margin-top: 35px;
    margin-left: 35px;
  }

  .eventsvg {
    width: 100px;
    height: 86px;
    margin-top: 35px;
    margin-left: 40px;
  }

  .ticketsvg {
    width: 100px;
    height: 86px;
    margin-top: 35px;
    margin-left: 40px;
  }

  .bgcard {
    margin-top: 50px;
    width: 170px;
    height: 210px;
    background-color: #168fa4;
    border: 3px solid #000;
  }

  .cardtext {
    font-size: 12px;
    margin-top: 10px;
  }

  .eventcardtext {
    font-size: 12px;
    margin-top: 10px;
  }

  .modbutton {
    width: 100%;
  }

  .modify {
    padding: 0;
    margin-top: 15px;
    width: 75px;
    height: 38px;
    font-size: 12px;
    background-color: #ffc024;
    border: 3px solid #000;
    border-radius: 0;
  }

  .slogan {
    margin-top: -10px;
    width: 100%;
  }

  .slogan p {
    margin-left: -30px;
    margin-top: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }

  .word {
    position: absolute;
    width: 100px;
    opacity: 0;
    margin-left: -20px;
  }
}
