/* * {
  outline: 1px solid red;
} */
.share {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 60px;
  top: 150px;
  opacity: 0.7;
  /* transform: rotate(deg); */
  transition: 0.3s;
}

.share:hover {
  transform: rotate(20deg);
}

.fallow {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40px;
  bottom: 150px;
  opacity: 0.7;
  transform: rotate(9deg);
  transition: 0.3s;
}

.fallow:hover {
  transform: rotate(-20deg);
}

.draw {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 30px;
  bottom: 350px;
  opacity: 0.7;
  transform: rotate(9deg);
  transition: 0.3s;
}

.draw:hover {
  transform: rotate(-20deg);
}

.love {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 70px;
  bottom: 250px;
  opacity: 0.7;
  transform: rotate(9deg);
  transition: 0.3s;
}

.love:hover {
  transform: rotate(20deg);
}

button:focus {
  box-shadow: none !important;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

.background {
  width: 100%;
  height: 1150px;
  background: url(../imgs/b2b/b2b_background.jpg) center no-repeat;
  background-size: cover;
}
.mamberbg {
  margin: 0 auto;
}

.mambertext {
  width: 100%;
  height: 900px;
  margin-top: 140px;
  background-color: #fff;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  margin-bottom: 10px;
  position: relative;
}

.clip {
  position: absolute;
  left: 20px;
}

.picture {
  margin: 50px auto 0;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: url(../imgs/B2B_imgs/b2b-2.jpg);
  background-size: contain;
  /* background-color: #f1f9ff; */
  border: 3px solid #000;
}

.people {
  margin-top: 40px;
  margin-left: 40px;
}

.organizer {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.introduction {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.introduction-text {
  margin: 30px auto;
  line-height: 25px;
  height: 130px;
  padding: 0;
}
.introduction-text p {
  font-size: 16px;
  font-weight: 100;
}

.time {
  height: 25px;
  margin: 40px auto 0;
  justify-content: flex-end;
  /* text-align: center; */
}

.date {
  margin-left: 20px;
  color: #ababab;
}

.history {
  margin: 50px auto 0;
  width: 380px;
  height: 90px;
  padding: 0;
}

.always {
  text-align: center;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000;
}

.type {
  width: 60%;
  margin: 20px auto;
  justify-content: space-between;
}

.contact {
  width: 100%;
  height: 50px;
  margin: 40px auto 0;
  justify-content: space-around;
}

.phone {
  align-items: center;
  padding-left: 40px;
}

.phoneimg {
  width: 52px;
  height: 52px;
}

.e-mail {
  align-items: center;
}

.mailimg {
  width: 52px;
  height: 52px;
}

.number {
  margin-left: 10px;
  height: 20px;
}

.modbutton {
  width: 100%;
  margin: 20px auto 0;
  padding: 0;
}

.okbutton {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}

.modify1 {
  width: 100%;
  height: 50px;
  background-color: #ed5b4c;
  border: 3px solid #000;
  border-radius: 0;
  padding: 0;
}

.modify2 {
  width: 100%;
  height: 50px;
  background-color: #168fa4;
  border: 3px solid #000;
  border-radius: 0;
  padding: 0;
}

.modify2:hover {
  background-color: #005d6d;
  border: 3px solid #000;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }

  .share {
    display: none;
  }

  .fallow {
    display: none;
  }

  .draw {
    display: none;
  }

  .love {
    display: none;
  }

  .clip {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -10px;
  }

  .eye {
    margin-top: 5px;
    margin-left: -20px;
  }

  .date {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
  }

  .history {
    margin: 60px auto 0;
    width: 380px;
    height: 90px;
    padding: 0;
  }

  .contact {
    width: 100%;
    flex-wrap: wrap;
  }

  .phone {
    padding-left: 15px;
  }

  .phoneimg {
    width: 35px;
    height: 35px;
  }
  .e-mail {
    margin-top: 10px;
  }
  .mailimg {
    width: 35px;
    height: 35px;
  }
  .modify1 {
    padding: 0;
  }
  .modify2 {
    padding: 0;
  }
}
