* {
  outline: 1px solid red;
}

input:focus {
  color: #000 !important;
}

textarea:focus {
  color: #000 !important;
}

.background {
  width: 100%;
  height: 1200px;
  background: url(../imgs/b2b/b2b_background.jpg) center no-repeat;
  background-size: cover;
}

.signinbg {
  margin: 0 auto;
  padding: 0;
}

.title {
  width: 100%;
  /* height: 50px; */
  margin: 130px auto 0;
  text-align: center;
  padding: 0;
}

.title h1 {
  font-size: 24px;
  font-weight: 700;
}

.title p {
  margin-top: 10px;
  font-size: 12px;
}

.ogzcard {
  margin-top: 40px;
}

.picture {
  margin: 0 auto;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #f1f9ff;
  border: 3px solid #000;
}

.people {
  margin: 40px auto 0;
  position: relative;
}

.peopleadd {
  margin: 0 auto;
}

.organizer {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.pictureadd {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #f1f9ff;
  border: 3px solid #000;
  position: absolute;
  top: 250px;
  right: 240px;
}

.inputform {
  margin: 35px auto 0;
  padding: 0;
}

.inputform p {
  font-size: 16px;
  padding-left: 0;
  font-weight: 700;
}

/* trouble為錯誤提醒 */
.trouble {
  position: absolute;
  right: 10px;
  top: 45px;
  opacity: 0;
  z-index: 1;
}

.trouble2 {
  /* display: none; */
  margin-top: 5px;
  text-align: end;
  opacity: 0;
  color: #ff1000;
}

.inputbox {
  margin-top: 12px;
  width: 100%;
  height: 50px;
  border: 3px solid #000;
  position: relative;
}

.inputboxint {
  margin-top: 12px;
  width: 100%;
  height: 300px;
  border: 3px solid #000;
}

textarea {
  margin-top: 12px;
  resize: none;
  border: 3px solid #000;
}

.wortcount {
  margin-top: 5px;
  text-align: end;
}

.membertext {
  font-size: 24px;
}

.eyes {
  width: 2.2rem;
  margin-left: 0.625rem;
}

.terms {
  background-color: #fff;
  border: 3px solid #000;
  width: 100%;
  height: 25rem;
  overflow: auto;
  margin: 10px auto 0;
  font-family: NotoSansTC-Regular, Roboto;
}

.service-text {
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid #ccc;
  line-height: 23px;
  font-size: 0.875rem;
  margin: 0 15px;
}

.privacy-text {
  line-height: 23px;
  margin-bottom: 1.875rem;
  font-size: 0.875rem;
  margin: 12px 15px;
}

.checkform {
  margin: 30px auto 0;
  padding: 0;
}

.checkbox {
  margin-right: 10px;
  align-items: center;
}

.ckecktext {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.modbutton {
  width: 100%;
  margin: 40px auto 0;
  padding: 0;
}

.okbutton {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}

.modify1 {
  width: 140px;
  height: 50px;
  background-color: #ed5b4c;
  border: 3px solid #000;
  border-radius: 0;
}

.modify2 {
  width: 140px;
  height: 50px;
  background-color: #168fa4;
  border: 3px solid #000;
  border-radius: 0;
}

button:disabled {
  background: #000 !important;
  border: 3px solid #000 !important;
}

/* 提醒小卡css */
.modal-content {
  border-radius: 0px;
  width: 300px;
  height: 400px;
  background-image: linear-gradient(rgba(22, 143, 164, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(22, 143, 164, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  background-color: #fff;
  border: 3px solid #000;
}

.welcome-text {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  padding: 0;
  border-top: 0 none;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
}

.closebutton {
  width: 190px;
  height: 50px;
  border-radius: 0px;
  border: 3px solid #000;
  color: #000 !important;
}

@media screen and (max-width: 576px) {
  .pictureadd {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f1f9ff;
    border: 3px solid #000;
    position: absolute;
    top: 250px;
    right: 40px;
  }

  .eyes {
    opacity: 0;
  }

  .modify1 {
    width: 100%;
    height: 50px;
    background-color: #ed5b4c;
    border: 3px solid #000;
    border-radius: 0;
  }

  .modify2 {
    width: 100%;
    height: 50px;
    background-color: #168fa4;
    border: 3px solid #000;
    border-radius: 0;
  }

  .textarea2 {
    width: 100%;
  }

  .okbutton {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
  }
}
