* {
  outline: 1px solid red;
}

html,
body {
  /* background-color: #168fa4; */
  height: 300vh;
  background: #168fa4;
  background-image: linear-gradient(rgba(8, 46, 123, 0.15) 1px, transparent 0),
    linear-gradient(90deg, rgba(8, 46, 123, 0.15) 1px, transparent 0);
  background-size: 0.75rem 0.75rem;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* .btn:focus {
  box-shadow: none; ! important
} */

.space {
  height: 87px;
}

/* ------------麵包屑------------- */

.breadcrumb {
  background-color: transparent;
  /* padding: 12px 0 0 12px;
  margin-right: 10px; */
}

.breadcrumb a {
  color: black;
}

.breadcrumb-item.active {
  color: #fac000;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: black;
}

.mainact {
  /* height: 465px; */
  border: 3px solid black;
  /* background-image: url(../imgs/index/mainact-02.jpg); */
  /* background-size: cover; */
  background-position: right;
}

.mainact img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.date {
  width: 120px;
  height: 133px;
  background-color: #fac000;
  border: 3px solid black;
  padding-top: 15px;
  padding-left: 10px;
}

.space-1 {
  height: 50px;
  width: 100%;
}

.space-2 {
  height: 200px;
  width: 100%;
}

/* ---------date bar------ */
.date-year {
  font-size: 18px;
}

.date-mon {
  font-size: 32px;
  font-weight: bold;
}

/* --------音樂標籤-------- */
.label {
  height: 32px;
  /* width: 72px; */
  background-color: #fff;
  border: 3px solid black;
  padding-top: 5px;
  text-align: center;
}

.apply {
  height: 133px;
  width: 223px;
  background-color: #fac000;
  border: 3px solid black;
  text-align: center;
}

.tape-1.rubberBand {
  /* margin: 0 0.5rem;
  animation: rubberBand;
  animation-duration: 0.8s; */
  transition: 0.5s;
  transform: translate(39px, 10px);
}

.activity {
  /* width: 500px; */
}

.activity-title {
  font-size: 30px;
}

.activity-time {
  font-size: 24px;
}

.activity-place-title {
  font-size: 24px;
}

.hastag-place a {
  color: #000000;
}

.activity-place {
  font-size: 30px;
}

.tape img {
  width: 100%;
}

.tape-1 {
  z-index: 2;
}

.tape-1 img {
  width: 100%;
}

/* ------留言板------- */

.name-bar {
  border-bottom: 3px solid black;
  margin: auto;
  padding: 20px;
  /* width: 900px; */
}

.bar-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
  margin: auto;
  overflow: hidden;
}

.bar-circle img {
  object-fit: cover;
  object-position: center;
}

.bar-word {
  margin: auto 0 auto 0;
}

.search-bar {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  border: 3px solid black;
}

input {
  height: 50px;
}

.search-bar-out {
  /* width: 850px; */
  /* height: 100px; */
  margin: auto 20px auto;
}

.search-bar-ser {
  width: 150px;
  /* height: 100px; */
  border-left: 3px solid black;
  background-color: #002c80;
}

/* --------tabs------- */

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  border: 3px solid black;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100% / 3);
  height: 50px;
  border: 1px solid black;
  background-color: #4336a3;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  /* height: 550px; */
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #fff;
  color: #000000;
  border-bottom: 3px solid transparent;
}

.tab_content_title {
  font-size: 20px;
  font-weight: bold;
}

.tab_content p {
  font-size: 20px;
  line-height: 30px;
}

.tape-1 {
  position: absolute;
  top: -112px;
}

.message-board {
  width: 100%;
  /* height: 500px; */
  background-color: white;
  border: 3px solid black;
  /* position: relative; */
}

/* -----相關活動----- */

.container-fluid {
  background-image: url(../imgs/member/section-4.svg);
  height: 600px;
}

/* ====== Ｍedia Query ============= */
/* Extra small 超小 (576px 以下) */
@media screen and (max-width: 576px) {
  /* .apply-01 {
    display: none !important;
  } */

  .bar-title {
    text-align: center;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .bar-word {
    text-align: left;
  }

  .bar-word-1 {
    text-align: center;
  }

  .tape {
    width: 200px;
  }

  .tape-1 {
    width: 200px;
    top: -70px;
  }

  /* .tape-2 {
    display: none !important;
  } */
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {
  .apply-02 {
    display: none !important;
  }

  .name-bar {
    display: flex;
  }

  .bar-title {
    margin: auto 20px auto 20px;
  }
}

/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width: 768px) {
}

/* ================================ */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {
}

/* 768-992之間的畫面 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {
}

/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
