/* * {
    outline: 1px solid red;
} */

html {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

button:focus {
  outline: 3px solid #ffc024;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.bg {
  background-color: #168FA4;
  /* background-image: radial-gradient(#0b4e5ab6 11%, transparent 31%), radial-gradient(#0b4e5ab6 27%, transparent 24%);
    background-position: 19px 3px, 83px 49px;
    background-size: 134px 118px;
    background-attachment: fixed; */
  /* transition: .3s; */
}

.space {
  height: 80px;
}

/* 麵包屑區塊 */
/* .breadcrumb {
    background-color: transparent;
}
.breadcrumb-item a {
  color: white;
}
.breadcrumb-item a:hover {
  color: #ffc024;
  text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: white;
}
.breadcrumb-item.active {
    color: #FFC024;
} */

/* 大圖輪播區塊 */
/* .pic {
    height: 700px;
    overflow: hidden;
}
.carousel {
  overflow: hidden;
}
.carousel-item {
  height: 700px;
}
.carousel img {
  object-fit: cover;
  height: 100%;
}
/* 篩選區塊 */
/* .filter-wrap {
    bottom: 30%;
    z-index: 1;
}
.filter-bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 1170px;
}
.event-search {
    height: 60%;
} */

h1 {
  font-size: 2rem;
}

*/

/* input或text area打字時是黑色的字 */
textarea:focus,
input:focus {
  outline: 2px solid #168fa4;
  color: black !important;
}

/* 下拉篩選框 */
/* .search-dropdown {
    display: none;
    top: 50px;
    background-color: #fff;
    border-radius: 3px;
    height: 200px;
    z-index: 1;
    color: black;
}
.search-dropdown .title {
  color: #168fa4;
  font-weight: 600;
}
.search-dropdown ul li a {
  color: #333;
  display: flex;
  padding: 15px 10px;
  font-size: 0.8rem;
}
.search-dropdown ul li a:hover {
    text-decoration: none;
    background: #f4f4f4;
} */


/* 關鍵字區塊 */
/* .gap {
    width: 10px;
    border-right: 2px solid white;
}
.chip a {
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 2px 12px;
}
.chip a:hover {
    text-decoration: none;
    background-color: hsla(0, 0%, 100%, .2);
} */

.main-search {
  height: 800px;
  border: 6px solid black;
  background-color: #002c80;
  background-image: radial-gradient(#01173fc2 18%, transparent 22%), radial-gradient(#01173fc2 18%, transparent 22%);
  background-position: 20px 0, 56px 46px;
  background-size: 83px 80px;
  background-attachment: fixed;
}

.search-box {
  border: 6px solid black;
  background-color: #0544b8;
}

.search-box-shadow {
  border: 6px solid black;
  height: 400px;
  top: 27%;
  right: 23%;
  background-color: rgb(241, 84, 69);
}

/* 本週主打精選 */



.quotation img {
  width: 100%;
  object-fit: contain;
}


.intro-box {
  height: 500px;
  transition: 1s;
  opacity: 0;
}

.show-up {
  opacity: 1;
  transform: scale(1.1);
}

.intro-img {
  margin-left: 100px;
  height: 300px;
  z-index: 1;
}

.intro-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro-img img:hover {
  transform: scale(1.2, 1.2);

}

.intro-info {
  height: 200px;
  background-color: #4336a3;
  bottom: -40%;
  right: 13%;
  box-shadow: 8px 8px black;
}


.intro-info::before {
  content: "FEATURE";
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  top: -23px;
  right: 0;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: skew(-21.5deg) scaleY(.9);
  transform: skew(-21.5deg) scaleY(.9);
}

.intro-info::after {
  content: "";
  position: absolute;
  top: -186px;
  bottom: 0;
  right: 352px;
  width: 45vw;
  max-width: 556px;
  max-height: 289px;
  z-index: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #d5a546), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #d5a546), color-stop(.75, #d5a546), color-stop(.75, transparent), to(transparent));
  background-size: 9px 9px;
}

.intro-box .title {
  font-size: 2rem;
  font-weight: 600;
}

/* 小標 */
.section-title {
  height: 80px;
  background-color: #ED5B4C;
  border: 3px solid black;
  transform: rotate(-5deg);
}

.section-title-below {
  top: -10px;
  left: -15px;
  width: 105%;
  height: 80px;
  background-color: #ed5b4c;
  border: 3px solid black;
}

.section-title-below p {
  transform: rotate(5deg);
  font-size: 1.5rem;
}

/* 商品列表 */
.bg-attatch {
  /* background: url(../imgs/banner/bg-attatch-4.jpg);
    background-attachment: fixed; */
  background-color: #002c80;
  border: 6px solid black;
  border: 6px solid black;
  background-color: #002c80;
  background-image: radial-gradient(#01173fc2 18%, transparent 22%), radial-gradient(#01173fc2 18%, transparent 22%);
  background-position: 20px 0, 56px 46px;
  background-size: 83px 80px;
  background-attachment: fixed;
}

.card {
  background-color: transparent;
  border: none;
  transition: 1s;
  opacity: 0;
}

.move-up {
  transform: translateY(-30px);
  opacity: 1;
  background-color: transparent;
  border: none;
  transition: 2s;
  opacity: 0;
  color: #0b4e5ab6;
  transform: translateY(150px);
}

.move-up {
  transform: translateY(-20px);
  opacity: 1;
}

/* 翻轉卡片 */
.flip-card-inner {
  height: 300px;
  transition: 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .time {
  opacity: 0;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #ffc024;
  border: 3px solid black;
  line-height: 1.5;
}

.flip-card-back .filp-title {
  font-weight: 600;
  background-color: #4336a3;
  color: white;
}

.flip-card-back p {
  height: 80%;
  overflow: hidden;
}

/* 活動小卡圖片 */
.card .img-wrap {
  height: 300px;
  border: 3px solid black;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .time {
  bottom: 0;
  background-color: #ffc024;
  height: 50px;
  border-radius: 3px;
  transition: 0.8s;
}

.card-body {
  border: 3px solid black;
  background-color: white;
  box-shadow: 6px 6px black;
  color: black;
}

.card-body .card-price {
  background-color: #4336a3;
  color: white;
  cursor: pointer;
}

.event-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
}

.like-link {
  bottom: 0;
  right: 10px;
  font-size: 2rem;
}

.like.liked {
  color: #ed5b4c;
  font-weight: 900;
}

/* 小卡彈跳蓋板 */
.modal-content {
  border: 3px solid black;
  border-radius: 0;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.modal-body {
  height: 600px;
}

/* 頁碼 */
.page-link {
  background-color: transparent;
  color: #21489c;
  border: none;
}

.page-link:hover {
  background-color: #ffc024;
  border: 3px solid black;
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: #ffc024;
  border: 3px solid black;
}

.page-item.disabled .page-link {
  background-color: transparent;
}

/* 推薦商品 */
.card-sm .img-wrap {
  height: 200px;
}

.card-sm .time {
  height: 40px;
}

/* 推薦商品小卡 */
.r-section {
  margin-top: 150px;
}

.recommened-events {
  min-height: 40vh;
}

/* others */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  /* background: url(../imgs/member/section-4.svg); */
  border: 6px solid black;
  background-color: #002c80;
  background-image: radial-gradient(#01173fc2 18%, transparent 22%), radial-gradient(#01173fc2 18%, transparent 22%);
  background-position: 20px 0, 56px 46px;
  background-size: 83px 80px;
  background-attachment: fixed;
}

.main {
  background-color: lighten(skyblue, 60%);
  grid-area: main;
  padding: 0;
  overflow-y: hidden;
}

.grid-item {
  padding: 3.5em 1em;
  font-size: 1em;
}

.items {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.items.active {
  /* background: rgba(255, 255, 255, 0.3); */
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em;
}

/* 怪怪地區 */
footer .letter-submit {
  font-size: 1rem;
}

.flip-book {
  height: 500px;
}

.containerA {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  transition: 1s;
  transform: translateX(1500px);
}

.right-in {
  transform: translateX(0px);
  transform: scale(1.2);
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

#carousel:hover {
  animation-play-state: paused;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 206px;
  height: 166px;
  left: 10px;
  top: 100%;
  background: white;
  overflow: hidden;
  border: solid 5px black;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel figure:nth-child(9) {
  transform: rotateY(0deg) translateZ(320px);
}

#carousel figure:nth-child(8) {
  transform: rotateY(40deg) translateZ(320px);
}

#carousel figure:nth-child(7) {
  transform: rotateY(80deg) translateZ(320px);
}

#carousel figure:nth-child(6) {
  transform: rotateY(120deg) translateZ(320px);
}

#carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(320px);
}

#carousel figure:nth-child(4) {
  transform: rotateY(200deg) translateZ(320px);
}

#carousel figure:nth-child(3) {
  transform: rotateY(240deg) translateZ(320px);
}

#carousel figure:nth-child(2) {
  transform: rotateY(280deg) translateZ(320px);
}

#carousel figure:nth-child(1) {
  transform: rotateY(320deg) translateZ(320px);
}

img {
  /* -webkit-filter: grayscale(1); */
  cursor: pointer;
  transition: all 0.5s ease;
}

#carousel img:hover {
  /* -webkit-filter: grayscale(0); */
  transform: scale(1.2, 1.2);
}

@keyframes rotation {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

/* another test */


.test a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.test a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE7 */
  opacity: 0.6;
  text-decoration: none;
}

/* Container */
.test.container-fluid {
  background: #FFFFFF;
  margin: 40px auto 10px;
  padding: 20px 40px 0;
  max-width: 960px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Page Header */
.page-header {
  background: #f9f9f9;
  margin: -30px -40px 40px;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
  color: #999;
  text-transform: uppercase;
}

.page-header h3 {
  line-height: 0.88rem;
  color: #000;
}

/* Thumbnail Box */
.caption h4 {
  font-size: 1rem;
  color: #444;
}

.caption p {
  font-size: 0.75rem;
  color: #999;
}

.btn.btn-mini {
  font-size: 0.63rem;
}


/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
}

.carousel-control {
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {

  .page-header,
  .control-box {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .caption {
    word-break: break-all;
  }
}



/* ====== Ｍedia Query ===============
/* Extra small 超小 (576px 以下) */
@media screen and (max-width: 576px) {
  .card-price {
    font-size: 0.8rem;
  }

  .modal-content {
    margin-top: 50px
  }

  .modal-body {
    height: 480px;
  }
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {}

/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width: 768px) {}

@media (max-width: 768px) {
  .shop-cart-content {
    left: 10%;
  }
}

/* ================================ */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {}

/* 768-992之間的畫面 */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .shop-cart-content {
    left: 22%;
  }
}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {
  .filter-bg {
    padding-left: 15%;
  }
}

/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width: 1200px) {}

/* ================================ */

@media (max-width:1199px) {

  /* 3D轉圈圈 */
  .containerA {
    display: none;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .quotation {
    transition: 1s;
  }

  .ql {
    transform: translateX(-800px);
  }

  .qr {
    transform: translateX(800px);
  }

  .flyin {
    transform: translateX(0px);
  }

  .goUp {
    transform: translateY(-500px);
    opacity: 0;
  }
}