* {
    outline: 1px solid red;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: #168FA4;
}

.wrap-bg::before {
    content: "";
    border-style: solid;
    border-color: transparent #FFC024 black transparent;
    position: absolute;
    bottom: 0;
    border-width: 80vh 80vw 0 20vw;
    z-index: 1;
}

.wrap-bg::after {
    content: "";
    border-style: solid;
    border-color: transparent transparent black #ED5B4C;
    position: absolute;
    bottom: 0;
    border-width: 80vh 20vw 0 80vw;
}


/* 中間表格背景 */
.form-bg {
    background-color: white;
    border: 3px solid black;
    height: 90vh;
    z-index: 3;
}

/* 購物車nav-bar */

.progress-bar-section p {
    margin: 0;
    font-size: 1rem;
}

.non-active {
    opacity: 0.3;

}

.progress-bar-section .img-wrap {
    height: 50px;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.color-bar {
    height: 10px;
    border: 3px solid black
}

.bar-pink {
    background-color: #ED5B4C;
}

.bar-blue {
    background-color: #168FA4;
}

.bar-yellow {
    background-color: #FFC024;
}

/* ====== Ｍedia Query =============== */
/* Extra small 超小 (576px 以下) */
@media screen and (max-width: 576px) {

    /* 小橫線 */
    .shop-nav-wrap::before {
        content: "";
        width: 13%;
        border-top: 3px solid #E2E2E2;
        position: absolute;
        bottom: 3px;
        left: 25%;
    }

    .shop-nav-wrap::after {
        content: "";
        width: 12%;
        border-top: 3px solid #E2E2E2;
        position: absolute;
        bottom: 3px;
        left: 63%;
    }

}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {

    /* 小橫線 */
    .shop-nav-wrap::before {
        content: "";
        width: 21%;
        border-top: 3px solid #E2E2E2;
        position: absolute;
        bottom: 3px;
        left: 21%;
    }

    .shop-nav-wrap::after {
        content: "";
        width: 20%;
        border-top: 3px solid #E2E2E2;
        position: absolute;
        bottom: 3px;
        left: 59%;
    }

}


/* Media 複製以下 */
/* ====== Ｍedia Query =============== */
/* Extra small 超小 (576px 以下) */
@media screen and (max-width: 576px) {}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {}


/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width:768px) {}

/* ================================ */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {}


/* 768-992之間的畫面 */
@media screen and (min-width:768px) and (max-width:992px) {}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {}



/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width:1200px) {}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}