body {
    height: 100vh;
    background-color: #168FA4;
}

body::before {
    content: "";
    border-style: solid;
    border-color: transparent #FFC024 black transparent;
    position: absolute;
    bottom: 0;
    border-width: 80vh 80vw 0 20vw;
    z-index: 1;
}

body::after {
    content: "";
    border-style: solid;
    border-color: transparent transparent black #ED5B4C;
    position: absolute;
    bottom: 0;
    border-width: 80vh 20vw 0 80vw;
}

/* 中間表格背景 */
.form-bg {
    background-color: white;
    height: 1000px;
    z-index: 3;
}

/* 購物車nav-bar */


/* 購物車清單 */
.shop-list {
    height: 200px;
    border-bottom: 3px solid #E2E2E2;
}

< !-- 購物車訂單結帳資訊框 -->