/* 通用區 */
body {
    font-size: 16px;
}

a {
    color: black;
}

a:hover {
    color: black;
}


.form-bg {
    min-height: 70vh;
}

button:focus {
    outline: none;
}

/* 購物車nav階段 */
.progress-bar-section:nth-child(2) {
    opacity: .3;
}

.progress-bar-section:nth-child(2) img {
    height: 86%;
}

.progress-bar-section:nth-child(3) {
    opacity: .3;
}


/* 商品欄位 */
.shop-item-title {
    border-bottom: 3px solid black;
}


.shopping-list .img-wrap {
    height: 100px;
}

.info-wrap {
    /* height: 100px; */
    overflow: hidden;
}

.event-title {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

.number-wrap .quantity {
    border: 3px solid black;
}

.minus,
.fa-plus,
.fa-trash-alt {
    /* font-size: 1.5rem; */
    cursor: pointer;
}

textarea:focus,
input:focus {
    color: black !important;
    outline: none;
}

.item {
    border-bottom: 3px solid black;
}

#total {
    font-size: 1.2rem;
}


/* 購物車總計明細藍框框 */
.shopcart-total {
    background-color: #168FA4;
    min-height: 330px;
}


.line {
    border-top: 3px solid white;
}

#allTotal {
    font-size: 1.5rem;
    font-weight: 600;
    /* color: #FFC024; */

}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

/* 優惠券 */
.cupon-success {
    display: none;
    color: #ffc024;
}

/* 統一按鈕 */
.btn {
    border: 3px solid #000;
    border-radius: 0px;
    font-weight: 600;
}

.btn-info {
    color: black
}

.btn-before {
    opacity: .5;
}

/* ====== Ｍedia Query =============== */
/* Extra small 超小 (576px 以下) */
@media screen and (max-width: 576px) {

    html {
        font-size: 12px;
    }

    .product-item img {
        height: 50%;
    }


    /* 購物車nav圖示小點 */
    .progress-bar-section .img-wrap img {
        height: 70%;
    }
}

/* =============================== */
/* Small 小型裝置sm (576px 以上) */
@media (min-width: 576px) {}


/* 576-768之間的畫面 */
@media (min-width: 576px) and (max-width:768px) {}


@media (max-width: 768px) {
    .shop-item-title {
        display: none;
    }

    .item li {
        margin: 30px auto;
    }

}

/* ============================= */
/* Medium 中型裝置md (768px 以上) */
@media (min-width: 768px) {
    .item ul {
        display: flex;
    }



}


/* 768-992之間的畫面 */
@media screen and (min-width:768px) and (max-width:992px) {}

/* ================================ */
/* Large 大型lg (992px以上) */
@media (min-width: 992px) {}



/* 991-1200 之間的畫面 */
@media (min-width: 992px) and (max-width:1200px) {}

/* ================================ */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}